#wrap #sidebar .sidevar-profile-img, #wrap #sidebar .profile-main, #wrap #sidebar p:nth-child(3), #wrap #sidebar .side-menu, #wrap #main-content #portfolio, #wrap #main-content #portfolio .port > h5, #wrap #main-content #page, #wrap #main-content #about .user-img, #wrap #main-content #about .about-cont-tit, #wrap #main-content #about .about-cont-tit ~ p, #wrap #main-content #about .tech-skill .tech-skill-tit, #wrap #main-content #about .tech-skill .download, #wrap #main-content #contact {
  margin-bottom: 3rem;
}

#wrap #main-content #portfolio .port:hover .cont-img, #wrap #main-content #subscribe .subscribe-menu {
  opacity: .6;
}

#wrap #sidebar .menu .ico-1, #wrap #sidebar .menu .ico-2, #wrap #sidebar .menu .ico-3, #wrap #sidebar .sns-ico .ico {
  width: 1em;
  height: 1em;
}

#wrap {
  position: relative;
  -webkit-animation: ani1 .3s forwards;
          animation: ani1 .3s forwards;
  overflow: hidden;
}

@-webkit-keyframes ani1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes ani1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#wrap #sidebar {
  background-color: white;
  width: 20%;
  height: 100%;
  padding: 30px;
  position: fixed;
}

@media screen and (max-width: 1024px) {
  #wrap #sidebar {
    position: relative;
    width: 100%;
    height: 1%;
  }
  #wrap #sidebar .sidebar-profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #wrap #sidebar .sidevar-profile-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 50% !important;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  #wrap #sidebar .profile-main {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #wrap #sidebar .profile-main ~ p {
    display: none;
  }
  #wrap #sidebar .menu {
    margin-left: 15%;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #wrap #sidebar .sns-ico {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media screen and (max-width: 765px) {
  #wrap #sidebar {
    position: relative;
    width: 100%;
    height: 1%;
  }
  #wrap #sidebar .sidebar-profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #wrap #sidebar .sidevar-profile-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 50% !important;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  #wrap #sidebar .profile-main {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #wrap #sidebar .profile-main ~ p {
    display: none;
  }
  #wrap #sidebar .menu {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #wrap #sidebar .side-menu {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #wrap #sidebar .sns-ico {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

#wrap #sidebar .sidevar-profile-img {
  width: 130px;
  height: 130px;
  background: url(../img/avatar_g2.jpg) no-repeat center;
  background-size: cover;
  border-radius: 5px;
}

#wrap #sidebar .profile-main {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

#wrap #sidebar .side-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#wrap #sidebar .menu {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #sidebar .menu:hover {
  background-color: lightgray;
}

#wrap #sidebar .menu a {
  padding-left: 1em;
  width: 200px;
  display: block;
}

#wrap #sidebar .menu .ico-1 {
  background: url(../img/iconmonstr-code-1.svg) no-repeat;
  background-size: cover;
}

#wrap #sidebar .menu .ico-2 {
  background: url(../img/iconmonstr-user-6.svg) no-repeat;
  background-size: cover;
}

#wrap #sidebar .menu .ico-3 {
  background: url(../img/iconmonstr-email-2.svg) no-repeat;
  background-size: cover;
}

#wrap #sidebar .menu-1 a {
  color: #66c9f0;
}

#wrap #sidebar .sns-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#wrap #sidebar .sns-ico .ico {
  margin-right: .5em;
}

#wrap #sidebar .sns-ico .ico > a {
  display: block;
  text-indent: -9999em;
}

#wrap #sidebar .sns-ico .facebook-ico {
  background: url(../img/iconmonstr-facebook-3.svg) no-repeat center;
  background-size: cover;
}

#wrap #sidebar .sns-ico .insta-ico {
  background: url(../img/iconmonstr-instagram-11.svg) no-repeat center;
  background-size: cover;
}

#wrap #sidebar .sns-ico .git-ico {
  background: url(../img/iconmonstr-github-1.svg) no-repeat center;
  background-size: cover;
}

#wrap #main-content {
  padding: 1em;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media screen and (min-width: 1024px) {
  #wrap #main-content {
    margin-left: 20%;
  }
}

#wrap #main-content .title > h1 {
  font-weight: lighter;
  padding-bottom: 3rem;
}

#wrap #main-content #portfolio {
  padding-top: 1rem;
  border-top: 5px solid lightgray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#wrap #main-content #portfolio .port {
  background-color: white;
}

#wrap #main-content #portfolio .port > h5 {
  margin-top: 1rem;
  font-size: 1.2em;
  font-weight: normal;
}

#wrap #main-content #portfolio .port > p {
  margin-bottom: 1em;
  font-weight: lighter;
}

#wrap #main-content #portfolio .port > h5, #wrap #main-content #portfolio .port > p {
  padding: 0 .5em;
}

#wrap #main-content #portfolio .cont-1 > .cont-img-1 {
  background: url(../img/p1.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60%;
}

#wrap #main-content #portfolio .cont-2 > .cont-img-2 {
  background: url(../img/p2.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60%;
}

#wrap #main-content #portfolio .cont-3 > .cont-img-3 {
  background: url(../img/lights.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60%;
}

#wrap #main-content #portfolio .cont-4 > .cont-img-4 {
  background: url(../img/nature.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60%;
}

#wrap #main-content #portfolio .cont-5 > .cont-img-5 {
  background: url(../img/p3.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60%;
}

#wrap #main-content #portfolio .cont-6 > .cont-img-6 {
  background: url(../img/mountains.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60%;
}

#wrap #main-content #page > ul {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #main-content #page > ul > .page {
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
}

#wrap #main-content #page > ul > .page > a {
  display: block;
}

#wrap #main-content #page > ul > .page > a:hover {
  background-color: #000000;
  color: #ffffff;
}

#wrap #main-content #page > ul > .page > a {
  width: 100%;
  height: 100%;
  display: block;
}

#wrap #main-content #about .user-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#wrap #main-content #about .user-img .user-img-1 {
  background: url(../img/avatar_g2.jpg) no-repeat center;
  background-size: cover;
}

#wrap #main-content #about .user-img .user-img-2 {
  background: url(../img/me2.jpg) no-repeat center;
  background-size: cover;
}

#wrap #main-content #about .user-img .user-img-1, #wrap #main-content #about .user-img .user-img-2 {
  width: 50%;
  padding-bottom: 35%;
}

#wrap #main-content #about .about-cont-tit {
  display: block;
  font-size: 1.5rem;
  font-weight: lighter;
}

#wrap #main-content #about .tech-skill .tech-skill-tit {
  display: block;
  font-size: 1.5rem;
  font-weight: lighter;
}

#wrap #main-content #about .tech-skill .my-tech {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#wrap #main-content #about .tech-skill .my-tech .my-tech-tit {
  margin-top: 1rem;
}

#wrap #main-content #about .tech-skill .my-tech li:nth-child(2),
#wrap #main-content #about .tech-skill .my-tech li:nth-child(4),
#wrap #main-content #about .tech-skill .my-tech li:nth-child(6) {
  height: 2rem;
  width: 100%;
  background-color: #797979;
}

#wrap #main-content #about .tech-skill .my-tech .tech-bar {
  color: white;
  background-color: #3b3b3b;
  text-align: center;
}

#wrap #main-content #about .tech-skill .my-tech .html {
  width: 95%;
  height: 100%;
}

#wrap #main-content #about .tech-skill .my-tech .sass {
  width: 90%;
  height: 100%;
}

#wrap #main-content #about .tech-skill .my-tech .js {
  width: 30%;
  height: 100%;
}

#wrap #main-content #about .tech-skill .download {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 2rem;
  color: white;
  background-color: #5f5f5f;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #main-content #about .tech-skill .download:hover {
  background-color: lightgray;
  color: #000;
}

#wrap #main-content #about .tech-skill .download .download-ico {
  width: 20px;
  height: 20px;
  background: url(../img/iconmonstr-download-15.svg) no-repeat center;
  background-size: cover;
}

#wrap #main-content #about .tech-skill .download .download-cont {
  line-height: 2rem;
}

#wrap #main-content #subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#wrap #main-content #subscribe .subscribe-menu {
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#wrap #main-content #subscribe .subscribe-menu:hover {
  opacity: 1;
}

#wrap #main-content #subscribe .subscribe-menu > li {
  width: 100%;
  line-height: 3rem;
  background-color: #e7e7e7;
  color: #000;
  background-size: cover;
  border-bottom: 1px solid #cfcfcf;
}

#wrap #main-content #subscribe .subscribe-menu li:nth-child(1) {
  font-size: 2rem;
  line-height: 4rem;
}

#wrap #main-content #subscribe .subscribe-menu > li:nth-child(6) {
  font-size: 2rem;
}

#wrap #main-content #subscribe .subscribe-menu > li:nth-child(6) > p {
  font-size: 1rem;
}

#wrap #main-content #subscribe .subscribe-menu > li:nth-child(7) p {
  background-color: #00ccb1;
  color: #ffffff;
  background-size: cover;
  padding: .8rem;
  margin: .8rem;
  font-size: 1.1rem;
}

#wrap #main-content #subscribe .sub-m1 li:nth-child(1) {
  background-color: black;
  background-color: black;
  color: #ffffff;
  background-size: cover;
}

#wrap #main-content #subscribe .sub-m2 li:nth-child(1) {
  background-color: #00ccb1;
  color: #ffffff;
  background-size: cover;
}

#wrap #main-content #subscribe .sub-m3 li:nth-child(1) {
  background-color: #ffee00;
  color: #ffffff;
  background-size: cover;
}

#wrap #main-content #contact {
  margin-top: 3rem;
}

#wrap #main-content #contact .contact-tit {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

#wrap #main-content #contact .contact-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#wrap #main-content #contact .contact-1, #wrap #main-content #contact .contact-2, #wrap #main-content #contact .contact-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 33.33333333333333%;
  line-height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

#wrap #main-content #contact .contact-1 > p, #wrap #main-content #contact .contact-2 > p, #wrap #main-content #contact .contact-3 > p {
  width: 100%;
}

#wrap #main-content #contact .contact-1, #wrap #main-content #contact .contact-3 {
  background-color: #5f5e5e;
  color: #ffffff;
}

#wrap #main-content #contact .contact-2 {
  background-color: #00ccb1;
}

#wrap #main-content #contact .email-ico {
  width: 40px;
  height: 40px;
  margin: 1rem 0 0 0;
  background: url(../img/iconmonstr-email-2.svg) no-repeat center;
  background-size: cover;
}

#wrap #main-content #contact .map-ico {
  width: 40px;
  height: 40px;
  margin: 1rem 0 0 0;
  background: url(../img/iconmonstr-map-8.svg) no-repeat center;
  background-size: cover;
}

#wrap #main-content #contact .call-ico {
  width: 40px;
  height: 40px;
  margin: 1rem 0 0 0;
  background: url(../img/iconmonstr-phone-1.svg) no-repeat center;
  background-size: cover;
}

#wrap #main-content #contact .form {
  width: 100%;
}

#wrap #main-content #contact .form .form-tit {
  font-size: 1.2rem;
}

#wrap #main-content #contact .form .txtbox {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#wrap #main-content #contact .form > button {
  background-color: #929292;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #main-content #contact .form > button:hover {
  background-color: #ffee00;
  color: #ffffff;
}

#wrap #main-content #contact .form .send-ico {
  width: 20px;
  height: 20px;
  background: url(../img/iconmonstr-paper-plane-1.svg) no-repeat center;
  background-size: cover;
}

#wrap #main-content #contact .form .send-ico ~ p {
  line-height: 2rem;
}

#wrap #main-content #footer {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#wrap #main-content #footer .foot1 {
  -ms-grid-column: 1;
  grid-column: 1;
}

#wrap #main-content #footer .foot2 {
  -ms-grid-column: 2;
  grid-column: 2;
}

#wrap #main-content #footer .foot2 .blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
}

#wrap #main-content #footer .foot2 .blog .blog-tit {
  -ms-grid-column: 2;
  grid-column: 2;
  font-weight: lighter;
}

#wrap #main-content #footer .foot2 .blog .blog-tit ~ p {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#wrap #main-content #footer .foot2 .blog .blog-img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
  background: url(../img/p1.jpg) no-repeat center;
  background-size: cover;
}

#wrap #main-content #footer .foot3 {
  -ms-grid-column: 3;
  grid-column: 3;
}

#wrap #main-content #footer .footer-tit {
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 1em;
}

@media screen and (max-width: 1024px) {
  #main-content {
    margin-left: 0%;
  }
  #portfolio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 765px) {
  #portfolio {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .user-img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .user-img .user-img-1, .user-img .user-img-2 {
    width: 100%;
    padding-bottom: 50% !important;
  }
  .download, form > button {
    width: 45% !important;
  }
  .contact-cont {
    font-size: .7rem;
  }
}
/*# sourceMappingURL=cloneui.css.map */